<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1087118611111-oda6moinhsp76um6k81aqdf1up1i119u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1087118611111-oda6moinhsp76um6k81aqdf1up1i119u</string>
	<key>API_KEY</key>
	<string>AIzaSyC3WF5302X0-H1PJpSQY4tvf5zJZep0ywU</string>
	<key>GCM_SENDER_ID</key>
	<string>1087118611111</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dwaara</string>
	<key>PROJECT_ID</key>
	<string>dwaara-c45f5</string>
	<key>STORAGE_BUCKET</key>
	<string>dwaara-c45f5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1087118611111:ios:5af607429adfd04aecc182</string>
</dict>
</plist>